.MainContent
{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #e4efe0;
}
.panelgrid
{
    display: inline-block;
}
.forms
{
    text-align: center;
    display: inline-block;
}
.col1
{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.col2
{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.error
{
    color: red;
}

.ParTable
{
    border-collapse:collapse;
}

.ParTableHeader
{
    text-align:center;
    background-color: #abcdef;
    border-bottom: black solid medium;
}
.ParTableEvenRow
{
    text-align:right;
    background-color: #e4efe0;
    vertical-align: top;
}

.ParTableOddRow
{
    text-align:right;
    background-color: #0000002b;
    vertical-align: top;
}

.actionButtons
{
    text-align: center;
    display: inline-flex;
}